@{
    ViewData["Title"] = "Home Page";
}

@section style {
    <!--Nivo Slider-->



}
<!-- Start Main Banner Area -->

<div class="digital-agency-banner pt-100">
    <div class="container">
        <div class="home-slides owl-carousel owl-theme">
            <div class="single-banner-item">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-content">
                            <span class="sub-title wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInLeft;">Digital Marketing</span>
                            <h1 class="wow fadeInLeft" data-wow-delay="10ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 10ms; animation-name: fadeInLeft;">Digital Agency with Excellence Service</h1>
                            <p class="wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInLeft;">We have created a cloud based tool to do your all boring tasks related to data analysis and decesion making based on the nature of data!</p>
                            <div class="btn-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                                <a href="https://templates.envytheme.com/dibiz/default/about-us-1.html" class="default-btn">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="~/asset/img/banner-img4.png" class="wow fadeInUp" alt="image" data-wow-delay="00ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInUp;">
                        </div>
                    </div>

                </div>
            </div>

            <div class="single-banner-item">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-content">
                            <span class="sub-title wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInLeft;">Digital Marketing</span>
                            <h1 class="wow fadeInLeft" data-wow-delay="10ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 10ms; animation-name: fadeInLeft;">Digital Agency with Excellence Service</h1>
                            <p class="wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInLeft;">We have created a cloud based tool to do your all boring tasks related to data analysis and decesion making based on the nature of data!</p>
                            <div class="btn-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                                <a href="https://templates.envytheme.com/dibiz/default/about-us-1.html" class="default-btn">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="~/asset/img/user2.jpg" class="wow fadeInUp" alt="image" data-wow-delay="00ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInUp;">
                        </div>
                    </div>

                </div>
            </div>
            <div class="single-banner-item">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-12">
                        <div class="banner-content">
                            <span class="sub-title wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInLeft;">Digital Marketing</span>
                            <h1 class="wow fadeInLeft" data-wow-delay="10ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 10ms; animation-name: fadeInLeft;">Digital Agency with Excellence Service</h1>
                            <p class="wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 200ms; animation-name: fadeInLeft;">We have created a cloud based tool to do your all boring tasks related to data analysis and decesion making based on the nature of data!</p>
                            <div class="btn-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                                <a href="https://templates.envytheme.com/dibiz/default/about-us-1.html" class="default-btn">Learn More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div class="banner-image">
                            <img src="~/asset/img/user1.jpg" class="wow fadeInUp" alt="image" data-wow-delay="00ms" data-wow-duration="1000ms" style="visibility: visible; animation-duration: 1000ms; animation-delay: 0ms; animation-name: fadeInUp;">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Main Banner Area -->


<section class="featured-services-area pt-100"></section>
<!-- Start About Area -->
<section class="about-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="~/asset/img/laptopdesign.jpg" alt="image">
                </div>
                @*<a href="single-services.html" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Read More <i class="right-icon flaticon-next-button"></i></a>*@
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="text">
                        <span class="sub-title">About Us</span>
                        <h2>Who We Are:</h2>
                        <p>
                            <b>CybErbrainz Media</b> is a creative technology and media company saddle with the responsibility of helping individuals, schools, government firms, cooperate bodies and various businesses and industries grow with specialties in Information Technology and Media services. We are a <a asp-area="" asp-controller="About" asp-action="Team">team</a> of professionals passionate about what we do and our culture of excellence is a major factor that separates us from other technology and media agencies.
                            We envision, strategize, plan, develop, market, nurture and monitor the growth and businesses of our clients through our 24/7 topnotch customer feedback mechanism.
                            At CybErbrainz Media, we make conscious effort in every project to exceeding the expectation of our customers.
                        </p>
                        <ul class="features-list">
                            <li>
                                <i class="flaticon-speed"></i>
                                <b>Vision:</b>To create a world where individuals, schools, government firms, cooperate bodies, various businesses and industries strive with unique identities, conceptual definitions and global recognition.
                            </li>
                            <li>
                                <i class="flaticon-speed"></i>
                                <b>Mission:</b>Proffering novel digital solutions that salvage the difficulties which hinder enabling environment for businesses to grow. Ensuring that our customers are given topnotch products and services which exceed their maximum satisfaction.</p>
                            </li>
                            <li>
                                <i class="flaticon-speed"></i>
                                <b>Value Proposition:</b> Serving Happiness,Uniqueness,Creativity,Respect,Understanding,Swift Delivery,Satisfaction,Responsiveness,Team Work,Build Together,Grow Together

                            </li>
                            <li>
                                <i class="flaticon-speed"></i>
                                <b>Tagline:</b>Awesomeness in diversity
                            </li>
                            <br />
                            <li>
                                <i class="left-icon flaticon-next-button"></i>
                                <a href="single-services.html" class="learn-more-btn"> Read More <i class="right-icon flaticon-next-button"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="featured-services-area pt-100"></section>
<!-- End About Area -->
<!-- Start Services Area -->
<section class="services-area bg-f9f9f9 pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Services</span>
            <h2>Let’s Check Our Services</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>*@
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-bar-chart"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Graphic_Design">Graphic Design</a></h3>
                    <p>We turn your thoughts and imaginations into images and designs that keep your audience enthralled. </p>
                    <a asp-area="" asp-controller="Services" asp-action="Graphic_Design" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-paper-plane"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Digital_and_Large_Format_Printing">Digital and Large Format Printing</a></h3>
                    <p>
                        We don't just design, we print too.We don't just print, we carefully select our fonts.
                    </p>
                    <a asp-area="" asp-controller="Services" asp-action="Digital_and_Large_Format_Printing" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-megaphone"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Film_Video_Production_and_Directing">Film/Video Production and Directing</a></h3>
                    <p>Our team of competent producers ensure that your video works are shot with the best machines</p>
                    <a asp-area="" asp-controller="Services" asp-action="Film_Video_Production_and_Directing" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-diamond"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="TwoD_ThreeD_Animations">2D/3D Animations</a></h3>
                    <p>Following the world trend towards digital products and advert methodologies, we ensure your businesses are not left behind by offering quality 2D/3D Video and text animations.</p>
                    <a asp-area="" asp-controller="Services" asp-action="TwoD_ThreeD_Animations" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-reputation"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Studio_Outdoor_Photography">Studio/Outdoor Photography</a></h3>
                    <p>Unlike the rest, we don't just shoot, we go the extra mile. From technical advice on poses</p>
                    <a asp-area="" asp-controller="Services" asp-action="Studio_Outdoor_Photography" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-jigsaw"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Motion_Graphics_and_Visual_Effects">Motion Graphics and Visual Effects</a></h3>
                    <p>We believe in the power of the media. We capitalize on our knowledge of art and beauty</p>
                    <a asp-area="" asp-controller="Services" asp-action="Motion_Graphics_and_Visual_Effects" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-content-management"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Content_Development_and_Copy_Writing">Content Development and Copy Writing</a></h3>
                    <p>Ever made a purchase of something you don't really need, simply because of how it was described?</p>
                    <a asp-area="" asp-controller="Services" asp-action="Content_Development_and_Copy_Writing" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-startup"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Business_Name_Registration">Business Name Registration</a></h3>
                    <p>One of the key steps in branding a business is getting your business name registered.</p>
                    <a asp-area="" asp-controller="Services" asp-action="Business_Name_Registration" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-startup"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Brand_Identity_Development">Brand Identity Development</a></h3>
                    <p>This is a complete package involving creation of brand logo, creation and management of social media handles</p>
                    <a asp-area="" asp-controller="Services" asp-action="Brand_Identity_Development" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-web-settings"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Website_Development_and_Management">Website Development and Management</a></h3>
                    <p>
                        Your company/Brand has to go digital to attract global attention.We help you
                    </p>
                    <a asp-area="" asp-controller="Services" asp-action="Website_Development_and_Management" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-web-settings"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Software_Development">Software Development</a></h3>
                    <p>We create different ranges of software applications for our clients, depending on their specific needs. </p>
                    <a asp-area="" asp-controller="Services" asp-action="Software_Development" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-services-box">
                    <div class="icon">
                        <i class="flaticon-conversation"></i>
                        <div class="circles-box">
                            <div class="circle-one"></div>
                            <div class="circle-two"></div>
                        </div>
                    </div>
                    <h3><a asp-area="" asp-controller="Services" asp-action="Training_and_Consultancy">Training and Consultancy</a></h3>
                    <p>
                        Looking forward to becoming a web developer,a copy writer or a graphic designer?
                    </p>
                    <a asp-area="" asp-controller="Services" asp-action="Training_and_Consultancy" class="learn-more-btn"><i class="left-icon flaticon-next-button"></i> Learn More <i class="right-icon flaticon-next-button"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Area -->
<!-- Start Pricing Area -->
@*<section class="pricing-area bg-f9f9f9 pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Pricing</span>
                <h2>Our Flexible Pricing Plan</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-paper-plane"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>SPECIAL DOCUMENTARY PACKAGE</h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Press Conference/briefing</li>
                                <li>Special Interview</li>
                                <li>Comedy Skits</li>
                                <li>Inspirational Talks</li>
                                <li>Company Advert</li>
                                <li>Exhibitions</li>
                            </ul>
                        </div>

                        <div class="price">
                            N40,000
                            <span>Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-jigsaw"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>NORMAL PACKAGE </h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Videographer 1 (One)</li>
                                <li>Photographer 1 (One)</li>
                                <li>DVD Plates 2(Two)</li>
                                <li>Pictures 50 Pictures</li>
                                <li>Pictures Soft Copy</li>
                            </ul>
                        </div>

                        <div class="price">
                            N60,000
                            <span>Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-diamond"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>JUST NORMAL PACKAGE </h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Photobook 10×12 (20 pages)</li>
                                <li>Enlargement 1 (12×15) 2(10×12)</li>
                                <li>Videographer 1 (One)</li>
                                <li>Photographer 1 (One)</li>
                                <li>Bridal Shower (Yes)</li>
                                <li>DVD Plates 2(Two)</li>
                                <li>Pictures Soft Copy</li>
                            </ul>
                        </div>

                        <div class="price">
                            N80,000
                            <span>Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-paper-plane"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>STANDARD PACKAGE </h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Photobook 10×12 (40 Pages)</li>
                                <li>Enlargement 1(20×24) 2(12×15)</li>
                                <li>Picture Soft Copy (2GB Flash)</li>
                                <li>Table Frame 1(One)</li>
                                <li>Videographer 2(Two)</li>
                                <li>Photographer 1(One)</li>
                                <li>Thriller</li>
                                <li>Video Flash </li>
                                <li>DVD Plate 3 (Three)</li>
                                <li>Bridal Shower</li>
                                <li>Pre-Wedding Picture</li>
                                <li>Magazine Publication 1/4 page</li>
                            </ul>
                        </div>

                        <div class="price">
                            N150,000
                            <span>Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-jigsaw"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>SILVER PACKAGE </h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Photobook 10×12 (40 Pages)</li>
                                <li>Enlargement 1 (20×36) 2 (16×20)</li>
                                <li>Picture Soft copy (2GB Flash)</li>
                                <li>Table Frame 1 (One)</li>
                                <li>Videographer 3 (Three)</li>
                                <li>Photographer 2 (One)</li>
                                <li>Drone </li>
                                <li>Thriller </li>
                                <li>Video Flash</li>
                                <li>DVD Plates 4 (Plates)</li>
                                <li>Bridal Shower</li>
                                <li>Pre-wedding Picture</li>
                                <li>Red Carpet</li>
                                <li>Magazine Publication 1/2 Page</li>
                            </ul>
                        </div>

                        <div class="price">
                            N200,000
                            <span>Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-diamond"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>GOLDEN PACKAGE</h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Photobook 10×12 (50 Pages)</li>
                                <li>Enlargement 2 (16×20) 1 (24×48)</li>
                                <li>Picture Soft copy (2GB Flash)</li>
                                <li>Table Frame 1 (One)</li>
                                <li>Videographer 3 (Three)</li>
                                <li>Photographer 2 (One)</li>
                                <li>Drone Camera</li>
                                <li>Thriller</li>
                                <li>Video Flash</li>
                                <li>DVD Plates 4 (Plates)</li>
                                <li>Bridal Shower </li>
                                <li>Pre-wedding Picture</li>
                                <li>Red Carpet </li>
                                <li>Magazine Publication Full Page</li>
                            </ul>
                        </div>

                        <div class="price">
                            N300,000
                            <span>Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-paper-plane"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>DIAMOND PACKAGE </h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Photobook 12×14 (40 Pages)</li>
                                <li>Enlargement 1 (24×48) 3 (16×20)</li>
                                <li>Picture Soft copy (4GB Flash)</li>
                                <li>Table Frame 2 (One)</li>
                                <li>Videographer 3 (Three)</li>
                                <li>Photographer 2 (One)</li>
                                <li>Drone</li>
                                <li>Thriller</li>
                                <li>Video Flash</li>
                                <li>DVD Plates 6 (Plates)</li>
                                <li>Bridal Shower</li>
                                <li>Pre-wedding Pictures </li>
                                <li>Red Carpet Presentation</li>
                                <li>Magazine Publication 2 pages</li>
                            </ul>
                        </div>

                        <div class="price">
                            N400,000
                            <span>Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-jigsaw"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>EXCLUSIVE PACKAGE </h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Photobook 12×14 (40 Pages)</li>
                                <li>Enlargement 1 (24×48) 3 (16×20)</li>
                                <li>Picture Soft copy (4GB Flash)</li>
                                <li>Table Frame 2 (One)</li>
                                <li>Videographer 3 (Three)</li>
                                <li>Photographer 2 (One)</li>
                                <li>Drone</li>
                                <li>Thriller</li>
                                <li>Video Flash</li>
                                <li>DVD Plates 8 (Plates)</li>
                                <li>Bridal Shower</li>
                                <li>Pre-wedding Picture</li>
                                <li>Red Carpet</li>
                                <li>Magazine Publication 3 pages</li>
                                <li>Projector (In-door)</li>
                                <li>Live Streaming</li>
                            </ul>
                        </div>

                        <div class="price">
                            N500,000
                            <span>Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-diamond"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>EXTRA EXCLUSIVE PACKAGE </h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>Photobook 12×14 (40 Pages)</li>
                                <li>Enlargement 1 (24×48) 3 (16×20)</li>
                                <li>Picture Soft copy (8GB Flash)</li>
                                <li>Table Frame 2 (One)</li>
                                <li>Videographer 4 (Three)</li>
                                <li>Photographer 3 (One)</li>
                                <li>Drone</li>
                                <li>Thriller</li>
                                <li>Video Flash</li>
                                <li>DVD Plates 8 (Plates)</li>
                                <li>Bridal Shower</li>
                                <li>Pre-wedding Picture</li>
                                <li>Pre-wedding Video</li>
                                <li>Red Carpet</li>
                                <li>Magazine Publication 3 pages</li>
                                <li>Projector (Indoor)</li>
                                <li>Exclusive Ushers 5</li>
                                <li>Lifetime Google Dive Back up</li>
                                <li>Live Streaming</li>
                            </ul>
                        </div>

                        <div class="price">
                            N700,000
                            <span>Per Flat</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-paper-plane"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>Starter Plan</h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>10GB Bandwidth Internet</li>
                                <li>Business & Financ Analysing</li>
                                <li>25 Social Media Reviews</li>
                                <li>Customer Managemet</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <div class="price">
                            $49.99
                            <span>Per Month</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-jigsaw"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>Advance Plan</h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>15GB Bandwidth Internet</li>
                                <li>Business & Financ Analysing</li>
                                <li>30 Social Media Reviews</li>
                                <li>Customer Managemet</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <div class="price">
                            $69.99
                            <span>Per Month</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <div class="icon">
                                <i class="flaticon-diamond"></i>
                                <div class="circles-box">
                                    <div class="circle-one"></div>
                                </div>
                            </div>
                            <h3>Premium Plan</h3>
                        </div>

                        <div class="pricing-features">
                            <ul>
                                <li>50GB Bandwidth Internet</li>
                                <li>Business & Financ Analysing</li>
                                <li>35 Social Media Reviews</li>
                                <li>Customer Managemet</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <div class="price">
                            $99.99
                            <span>Per Month</span>
                        </div>

                        <a href="#" class="default-btn">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- End Pricing Area -->
<!-- Start Feedback Area -->
<section class="feedback-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="feedback-image">
                    <img src="~/asset/img/Testimonial/OBIEZUMMESOMAJENNIFER.jpg" height="207" width="207" alt="image">
                    <img src="~/asset/img/Testimonial/ONYEMAUWAOBINNA.jpg" height="93" width="93" alt="image">
                    <img src="~/asset/img/Testimonial/AMAZUCHIDIMMACHUKWUDALU.jpg" ight="97" width="97" alt="image">
                    <img src="~/asset/img/Testimonial/BASSEYBASSEY.jpg" height="93" width="93" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="feedback-content">
                    <span class="sub-title">Feedback</span>
                    <h2>What Our Clients Are Saying?</h2>

                    <div class="feedback-slides owl-carousel owl-theme">
                        <div class="single-feedback-item">
                            <p>CybErbrainz Media has been proven the BEST educating platform so far.”</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/IWUORIEHANITTAUDOKA.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>IWUORIEH ANITTA UDOKA</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-feedback-item">
                            <p>CybErbrainz Media is anything more than the best platform anyone can ask for.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/OBIEZUMMESOMAJENNIFER.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>OBIEZU MMESOMA JENNIFER</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-feedback-item">
                            <p>Words itself cannot quantify CybErbrainz Media. It is a media company with a difference and indebt professionalism. With CybErbrainz Media, your media and general technology services are covered.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/PRECIOUSCHIAMAKAJAMES.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>PRECIOUS CHIAMAKA JAMES</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>CybErbrainz Media gave me hope of getting busy during COVID’19 Pandemic lockdown and I learnt a lot from their numerous FREE Webinars and till date, the Webinars are still flowing and I’m still a beneficiary. Sincerely, CybErbrainz Media is a media with a great difference and they do not joke with their class/webinar assignments. In fact, if you are not one of their students, you are really missing a lot. CybErbrainz Media is the BEST.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/AMAZUCHIDIMMACHUKWUDALU.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>AMAZU CHIDIMMA CHUKWUDALU</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>CybErbrainz Media was a bright spot during the COVID’19 Pandemic lockdown. Their lessons are easy to follow; they also produce great contents – not just graphic designs but in all media and technology ramifications. Their team are wonderful and I really admire their team spirit. You will never regret working with them.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/MR.MODESTUS.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>MR. MODESTUS</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>When joining CybErbrainz Media for their lessons, I had a feeling it was going to be waste of time, but surprisingly they proved ne wrong. Patient teachers, step by step lectures; it was wow! Their works constantly stand out. Give them a try and you will would be wowed.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/JOSEPHINEOLAMIDE.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>JOSEPHINE OLAMIDE</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>CybErbrainz Media was the best that happened to me during the COVID’19 Pandemic lockdown. I have never met a group of people so selfless and determined to impact in people’s lives. God bless you real good the entire CybErbrainz Media team.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/ONYEMAUWAOBINNA.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>ONYEMAUWA OBINNA</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-feedback-item">
                            <p>CybErbrainz Media has obviously fix humanity as a priority and undoubtedly led so many into the love and interest of graphics and video making and general media and technology facets through their consistency in charitable tutorials which has helped me in the accomplishment of personal branding.</p>
                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/BASSEYBASSEY.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>BASSEY BASSEY</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>Of a truth, CybErbrainz Media has impacted in my life in a way I never expected during the COVID’19 pandemic lockdown. They have the interest of others at heart and I’m glad to be part of the family. Contact them for any graphic designs that you want and be rest assured of a delightful result. CybErbrainz Media is the best!!!</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/EGWUATUCHINENYE.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>EGWUATU CHINENYE</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>Ever since I joined CybErbrainz Media webinar, I could be able to do things I couldn’t do in the past. I must confess that this COVID’19 Pandemic lockdown was a blessing in disguise to me because of the best classes that CybErbrainz Media organized. I must confess that CybErbrainz Media is a wonderful media and technological brand/company.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/IBEPROMISEOGECHI.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>IBE PROMISE OGECHI</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>I’m very grateful to CybErbrainz Media for taking out time, energy, resources, both human and capital to embark on a free mass online development of individuals from various parts of the world on diverse digital skills. Sincerely. I count myself so lucky to having been associated with CybErbrainz Media. My profound gratitude goes to all the crew members behind the scene.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/FAITHKWEKOWE.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>FAITH KWEKOWE</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Feedback Area -->
<!-- Start Portfolio Area -->
<section class="portfolio-area section-title-center pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Case Studies</span>
            <h2>Check of Our Products &amp; Case Studies</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>*@
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio-box">
                    <a asp-area="" asp-controller="Products" asp-action="School_Management_System" class="image d-block">
                        <img src="~/asset/img/products/SchoolManagementSystem.jpg" alt="image">
                    </a>

                    <div class="content">
                        <h3><a asp-area="" asp-controller="Products" asp-action="School_Management_System">School Management System</a></h3>
                        <span>School System	</span>
                        <a asp-area="" asp-controller="Products" asp-action="School_Management_System" class="link-btn"><i class="flaticon-next-button"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio-box">
                    <a asp-area="" asp-controller="Products" asp-action="Blog_News" class="image d-block">
                        <img src="~/asset/img/products/Blog-News.jpg" alt="image">
                    </a>

                    <div class="content">
                        <h3><a asp-area="" asp-controller="Products" asp-action="Blog_News">Blog/News</a></h3>
                        <span>Content System</span>
                        <a asp-area="" asp-controller="Products" asp-action="Blog_News" class="link-btn"><i class="flaticon-next-button"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio-box">
                    <a asp-area="" asp-controller="Products" asp-action="Church_Management_System" class="image d-block">
                        <img src="~/asset/img/products/ChurchManagementSystem.jpg" alt="image">
                    </a>

                    <div class="content">
                        <h3><a asp-area="" asp-controller="Products" asp-action="Church_Management_System">Church Management System</a></h3>
                        <span>Church System</span>
                        <a asp-area="" asp-controller="Products" asp-action="Church_Management_System" class="link-btn"><i class="flaticon-next-button"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio-box">
                    <a asp-area="" asp-controller="Products" asp-action="Business_Branding_Solution" class="image d-block">
                        <img src="~/asset/img/products/BusinessBrandingSolution.jpg" alt="image">
                    </a>

                    <div class="content">
                        <h3><a asp-area="" asp-controller="Products" asp-action="Business_Branding_Solution">Business Branding Solution</a></h3>
                        <span>Business Solution</span>
                        <a asp-area="" asp-controller="Products" asp-action="Business_Branding_Solution" class="link-btn"><i class="flaticon-next-button"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio-box">
                    <a asp-area="" asp-controller="Products" asp-action="Event_Management_Solution" class="image d-block">
                        <img src="~/asset/img/products/EventManagementSolution.jpg" alt="image">
                    </a>

                    <div class="content">
                        <h3><a asp-area="" asp-controller="Products" asp-action="Event_Management_Solution">Event Management Solution</a></h3>
                        <span>Event Solution</span>
                        <a asp-area="" asp-controller="Products" asp-action="Event_Management_Solution" class="link-btn"><i class="flaticon-next-button"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-portfolio-box">
                    <a asp-area="" asp-controller="Products" asp-action="Personal_Branding_Solution" class="image d-block">
                        <img src="~/asset/img/products/PersonalBrandingSolution.jpg" alt="image">
                    </a>

                    <div class="content">
                        <h3><a asp-area="" asp-controller="Products" asp-action="Personal_Branding_Solution">Personal Branding Solution</a></h3>
                        <span>Personal Branding Solution</span>
                        <a asp-area="" asp-controller="Products" asp-action="Personal_Branding_Solution" class="link-btn"><i class="flaticon-next-button"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Portfolio Area -->
<!-- Start How It's Work Area -->
<section class="how-its-work-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="how-its-work-content">
                    <span class="sub-title">How It's Work</span>
                    <h2>Our Working Process</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>

                    <div class="inner-box">
                        <div class="single-item">
                            <div class="count-box">
                                01
                            </div>
                            <h3>Planning</h3>
                            <p>Dolor sit amet consectetur elit eiusmod tempor incidi dunt labore dolore magna aliqua enim.</p>
                        </div>

                        <div class="single-item">
                            <div class="count-box">
                                02
                            </div>
                            <h3>Research</h3>
                            <p>Dolor sit amet consectetur elit eiusmod tempor incidi dunt labore dolore magna aliqua enim.</p>
                        </div>

                        <div class="single-item">
                            <div class="count-box">
                                03
                            </div>
                            <h3>Results</h3>
                            <p>Dolor sit amet consectetur elit eiusmod tempor incidi dunt labore dolore magna aliqua enim.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="how-its-work-image">
                    <img src="~/asset/img/how-its-work.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End How It's Work Area -->
<!-- Start Team Area -->
<section class="team-area-two ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Team</span>
            <h2>We Help to Acheive Your Business Goal</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>*@
        </div>

        <div class="team-slides owl-carousel owl-theme">
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/JAMESOGUALU.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/CybErbrainz" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="http://twitter.com/CybErbrainz" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://instagram.com/CybErbrainz" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jamesogualu" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>JAMES OGUALU</h3>
                    <span>Tech Lead</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/Benard.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/bernard.amaeme.3" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://twitter.com/BernardAmaeme" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/bernardamaeme/" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/bernardamaeme" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>BERNARD AMAEME</h3>
                    <span>Software Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/REJOICEAMAJUOYI.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/amajuoyi.rejoice.9" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>REJOICE AMAJUOYI</h3>
                    <span>Content Developer and Marketer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/ADEBAYOABDULLAHOLALEKAN.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/Olalekana96" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://twitter.com/Hyperteq_niqqa?s=09 " class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>ADEBAYO ABDULLAH OLALEKAN</h3>
                    <span>Human Resources Personnel/Visual Strategist</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/Benard.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>FAVOUR EMMANUEL</h3>
                    <span>SOftware Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/ONYEOKOROAFOMACHUKWU.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/afebest.mayalisa" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>ONYEOKORO AFOMACHUKWU</h3>
                    <span>Marketer/Content Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/VICTOROLIVIAUZOAMAKA.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/olivia.victor.50" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/Real_uzoamaka" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/olivia-victor-b89b22151" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>VICTOR OLIVIA UZOAMAKA</h3>
                    <span>Marketing Specialist/Content Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/IGWESAMUELCHINONSO.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/samibuoy" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/Sankeydoc" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/igwe-samuel-1aa632137" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>IGWE SAMUEL CHINONSO</h3>
                    <span>Business Analyst/Marketer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/ANYIMBENEMMANUEL.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/Benmanuels" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram/Ben_Manuels" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/ben-emmanuel-b2a8641b3" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>ANYIM BEN EMMANUEL</h3>
                    <span>Video Production/Operations Manager</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/NWANCHORCHIKAVICTOR.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/itzengrvictor " class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.twitter.com/EngrVictor15" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/9fluxdesigns" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>NWANCHOR CHIKA VICTOR</h3>
                    <span>Website Developer/SEO Director</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/GODSGIFTEJIAMA.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/GiftCGentle" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.twitter.com/Gcgentle" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/I_amGcgentle " class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>GODSGIFT C. EJIAMA</h3>
                    <span>Sales Representative/Marketer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/VICTORYISRAEL.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/vicky.dimma" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/Miss_Victory_Israel" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>VICTORY ISRAEL</h3>
                    <span>Lead Content Developer/Customer Service Representative</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/HAMMEDTIMOTHY.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/hammedtimothy" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.twitter.com/hibrandvisual" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/hibrandvisual" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/hammed-timothy-2755261a8" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>HAMMED TIMOTHY</h3>
                    <span>Lead Visual Strategist</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/SRGUNPETERS.jpg" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/akinniyi.segun1" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/Segun_Peters" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>AKINNIYI SEGUN PETER</h3>
                    <span>UI/UX & Web Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/JAMESOGUALU.jpg" alt="team-image">

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>DANIEL UHARA</h3>
                    <span>Visual Strategist</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->
<!-- Start Blog Area -->
@*<section class="blog-area bg-f9f9f9 pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <span class="sub-title">Our Blog</span>
                <h2>Our Latest Media</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post">
                        <div class="image">
                            <a href="https://templates.envytheme.com/dibiz/default/single-blog-1.html" class="d-block">
                                <img src="~/asset/img/blog-img1.jpg" alt="image">
                            </a>
                        </div>

                        <div class="content">
                            <h3><a href="https://templates.envytheme.com/dibiz/default/single-blog-1.html">How to make the perfect morning coffee, according to the Science</a></h3>
                            <div class="d-flex align-items-center">
                                <img src="~/asset/img/user1.jpg" alt="image">
                                <div class="info">
                                    <h5>David Smith</h5>
                                    <span>Jun 21, 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-blog-post">
                        <div class="image">
                            <a href="https://templates.envytheme.com/dibiz/default/single-blog-1.html" class="d-block">
                                <img src="~/asset/img/blog-img2.jpg" alt="image">
                            </a>
                        </div>

                        <div class="content">
                            <h3><a href="https://templates.envytheme.com/dibiz/default/single-blog-1.html">How to make the perfect morning coffee, according to the Science</a></h3>
                            <div class="d-flex align-items-center">
                                <img src="~/asset/img/user2.jpg" alt="image">
                                <div class="info">
                                    <h5>Sarah Taylor</h5>
                                    <span>Jun 20, 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="single-blog-post">
                        <div class="image">
                            <a href="https://templates.envytheme.com/dibiz/default/single-blog-1.html" class="d-block">
                                <img src="~/asset/img/blog-img3.jpg" alt="image">
                            </a>
                        </div>

                        <div class="content">
                            <h3><a href="https://templates.envytheme.com/dibiz/default/single-blog-1.html">How to make the perfect morning coffee, according to the Science</a></h3>
                            <div class="d-flex align-items-center">
                                <img src="~/asset/img/user3.jpg" alt="image">
                                <div class="info">
                                    <h5>Steven Gibson</h5>
                                    <span>Jun 19, 2020</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@
<!-- End Blog Area -->
<!-- Start Subscribe Area -->
@*<section class="subscribe-area ptb-100">
        <div class="container">
            <div class="subscribe-content">
                <span class="sub-title">Dibiz Updates</span>
                <h2>Subscribe To Our Newsletter</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <form class="newsletter-form" data-toggle="validator" novalidate="true">
                    <input type="text" class="input-newsletter" placeholder="Enter your email address" name="EMAIL" required="" autocomplete="off">
                    <button type="submit" class="default-btn disabled" style="pointer-events: all; cursor: pointer;">Subscribe Now</button>
                    <div id="validator-newsletter" class="form-result"></div>
                </form>
            </div>
        </div>

        <div class="shape9"><img src="~/asset/img/shape9.png" alt="image"></div>
        <div class="shape10"><img src="~/asset/img/shape10.png" alt="image"></div>
        <div class="shape11"><img src="~/asset/img/shape11.png" alt="image"></div>
        <div class="shape12"><img src="~/asset/img/shape12.png" alt="image"></div>
    </section>*@
<!-- End Subscribe Area -->


@section scripts {


}