
@{
    ViewData["Title"] = "Index";
}


<!-- Start Page Title Area -->
<section class="page-title-area page-title-style-two">
    <div class="container">
        <div class="page-title-content">
            <h1>About Us</h1>
        </div>
    </div>

    <div class="shape2"><img src="~/asset/img/shape2.png" alt="image"></div>
    <div class="shape3"><img src="~/asset/img/shape3.png" alt="image"></div>
    <div class="shape5"><img src="~/asset/img/shape5.png" alt="image"></div>
    <div class="shape6"><img src="~/asset/img/shape6.png" alt="image"></div>
    <div class="shape7"><img src="~/asset/img/shape7.png" alt="image"></div>
    <div class="shape8"><img src="~/asset/img/shape8.png" alt="image"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- End Page Title Area -->
<!-- Start About Area -->
<section class="about-area ptb-100">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="about-img">
                    <img src="~/asset/img/laptopdesign.jpg" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="about-content">
                    <div class="text">
                        <span class="sub-title">About Us</span>
                        <h2>Who We Are</h2>
                        <p>
                            <b>CybErbrainz Media</b> is a creative technology and media company saddle with the responsibility of helping individuals, schools, government firms, cooperate bodies and various businesses and industries grow with specialties in Information Technology and Media services. We are a team (the link for our team page will be linked to the team) of professionals passionate about what we do and our culture of excellence is a major factor that separates us from other technology and media agencies.
                        </p>
                        <p>
                            We envision, strategize, plan, develop, market, nurture and monitor the growth and businesses of our clients through our 24/7 topnotch customer feedback mechanism.
                            At CybErbrainz Media, we make conscious effort in every project to exceeding the expectation of our customers.
                        </p>
                        <ul class="features-list">
                            <li>
                                <i class="flaticon-speed"></i>
                                <b>Vision:</b>To create a world where individuals, schools, government firms, cooperate bodies, various businesses and industries strive with unique identities, conceptual definitions and global recognition.
                            </li>
                            <li>
                                <i class="flaticon-speed"></i>
                                <b>Mission:</b>Proffering novel digital solutions that salvage the difficulties which hinder enabling environment for businesses to grow. Ensuring that our customers are given topnotch products and services which exceed their maximum satisfaction.</p>
                            </li>
                            <li>
                                <i class="flaticon-speed"></i>
                                <b>Value Proposition:</b> Serving Happiness,Uniqueness,Creativity,Respect,Understanding,Swift Delivery,Satisfaction,Responsiveness,Team Work,Build Together,Grow Together

                            </li>
                            <li>
                                <i class="flaticon-speed"></i>
                                <b>Tagline:</b>Awesomeness in diversity
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Team Area -->
<section class="team-area-two ptb-100">
    <div class="container">
        <div class="section-title">
            <span class="sub-title">Our Team</span>
            <h2>We Help to Acheive Your Business Goal</h2>
            @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>*@
        </div>

        <div class="team-slides owl-carousel owl-theme">
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/JAMESOGUALU.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/CybErbrainz" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="http://twitter.com/CybErbrainz" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://instagram.com/CybErbrainz" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/jamesogualu" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>JAMES OGUALU</h3>
                    <span>Tech Lead</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/Benard.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/bernard.amaeme.3" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://twitter.com/BernardAmaeme" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/bernardamaeme/" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/bernardamaeme" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>BERNARD AMAEME</h3>
                    <span>Software Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/REJOICEAMAJUOYI.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/amajuoyi.rejoice.9" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>REJOICE AMAJUOYI</h3>
                    <span>Content Developer and Marketer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/ADEBAYOABDULLAHOLALEKAN.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/Olalekana96" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://twitter.com/Hyperteq_niqqa?s=09 " class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>ADEBAYO ABDULLAH OLALEKAN</h3>
                    <span>Human Resources Personnel/Visual Strategist</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>

            @*<div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/Benard.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>FAVOUR EMMANUEL</h3>
                    <span>Software Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>*@

            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/ONYEOKOROAFOMACHUKWU.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/afebest.mayalisa" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>ONYEOKORO AFOMACHUKWU</h3>
                    <span>Marketer/Content Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/VICTOROLIVIAUZOAMAKA.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/olivia.victor.50" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/Real_uzoamaka" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/olivia-victor-b89b22151" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>VICTOR OLIVIA UZOAMAKA</h3>
                    <span>Marketing Specialist/Content Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/IGWESAMUELCHINONSO.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/samibuoy" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/Sankeydoc" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/igwe-samuel-1aa632137" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>IGWE SAMUEL CHINONSO</h3>
                    <span>Business Analyst/Marketer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/ANYIMBENEMMANUEL.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/Benmanuels" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram/Ben_Manuels" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/ben-emmanuel-b2a8641b3" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>ANYIM BEN EMMANUEL</h3>
                    <span>Video Production/Operations Manager</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/NWANCHORCHIKAVICTOR.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/itzengrvictor " class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.twitter.com/EngrVictor15" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/9fluxdesigns" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>NWANCHOR CHIKA VICTOR</h3>
                    <span>Website Developer/SEO Director</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/GODSGIFTEJIAMA.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/GiftCGentle" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.twitter.com/Gcgentle" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/I_amGcgentle " class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>GODSGIFT C. EJIAMA</h3>
                    <span>Sales Representative/Marketer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/VICTORYISRAEL.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/vicky.dimma" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/Miss_Victory_Israel" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>VICTORY ISRAEL</h3>
                    <span>Lead Content Developer/Customer Service Representative</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/HAMMEDTIMOTHY.jpg" height="600" width="600" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/hammedtimothy" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://www.twitter.com/hibrandvisual" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/hibrandvisual" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.linkedin.com/in/hammed-timothy-2755261a8" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>HAMMED TIMOTHY</h3>
                    <span>Lead Visual Strategist</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/SRGUNPETERS.jpg" alt="team-image">

                    <ul class="social-link">
                        <li><a href="https://facebook.com/akinniyi.segun1" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/Segun_Peters" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>AKINNIYI SEGUN PETER</h3>
                    <span>UI/UX & Web Developer</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
            <div class="single-team-member">
                <div class="image">
                    <img src="~/asset/img/team/DanielsPicture.jpg" alt="team-image">

                    <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                    </ul>
                </div>

                <div class="content">
                    <h3>DANIEL UHARA</h3>
                    <span>Visual Strategist</span>
                    <i class="flaticon-share-icon"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->
<!-- Start Feedback Area -->
<section class="feedback-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="feedback-image">
                    <img src="~/asset/img/Testimonial/OBIEZUMMESOMAJENNIFER.jpg" height="207" width="207" alt="image">
                    <img src="~/asset/img/Testimonial/ONYEMAUWAOBINNA.jpg" height="93" width="93" alt="image">
                    <img src="~/asset/img/Testimonial/AMAZUCHIDIMMACHUKWUDALU.jpg" ight="97" width="97" alt="image">
                    <img src="~/asset/img/Testimonial/BASSEYBASSEY.jpg" height="93" width="93" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="feedback-content">
                    <span class="sub-title">Feedback</span>
                    <h2>What Our Clients Are Saying?</h2>

                    <div class="feedback-slides owl-carousel owl-theme">
                        <div class="single-feedback-item">
                            <p>CybErbrainz Media has been proven the BEST educating platform so far.”</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/IWUORIEHANITTAUDOKA.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>IWUORIEH ANITTA UDOKA</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-feedback-item">
                            <p>CybErbrainz Media is anything more than the best platform anyone can ask for.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/OBIEZUMMESOMAJENNIFER.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>OBIEZU MMESOMA JENNIFER</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-feedback-item">
                            <p>Words itself cannot quantify CybErbrainz Media. It is a media company with a difference and indebt professionalism. With CybErbrainz Media, your media and general technology services are covered.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/PRECIOUSCHIAMAKAJAMES.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>PRECIOUS CHIAMAKA JAMES</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>CybErbrainz Media gave me hope of getting busy during COVID’19 Pandemic lockdown and I learnt a lot from their numerous FREE Webinars and till date, the Webinars are still flowing and I’m still a beneficiary. Sincerely, CybErbrainz Media is a media with a great difference and they do not joke with their class/webinar assignments. In fact, if you are not one of their students, you are really missing a lot. CybErbrainz Media is the BEST.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/AMAZUCHIDIMMACHUKWUDALU.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>AMAZU CHIDIMMA CHUKWUDALU</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>CybErbrainz Media was a bright spot during the COVID’19 Pandemic lockdown. Their lessons are easy to follow; they also produce great contents – not just graphic designs but in all media and technology ramifications. Their team are wonderful and I really admire their team spirit. You will never regret working with them.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/MR.MODESTUS.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>MR. MODESTUS</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>When joining CybErbrainz Media for their lessons, I had a feeling it was going to be waste of time, but surprisingly they proved ne wrong. Patient teachers, step by step lectures; it was wow! Their works constantly stand out. Give them a try and you will would be wowed.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/JOSEPHINEOLAMIDE.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>JOSEPHINE OLAMIDE</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>CybErbrainz Media was the best that happened to me during the COVID’19 Pandemic lockdown. I have never met a group of people so selfless and determined to impact in people’s lives. God bless you real good the entire CybErbrainz Media team.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/ONYEMAUWAOBINNA.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>ONYEMAUWA OBINNA</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="single-feedback-item">
                            <p>CybErbrainz Media has obviously fix humanity as a priority and undoubtedly led so many into the love and interest of graphics and video making and general media and technology facets through their consistency in charitable tutorials which has helped me in the accomplishment of personal branding.</p>
                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/BASSEYBASSEY.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>BASSEY BASSEY</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>Of a truth, CybErbrainz Media has impacted in my life in a way I never expected during the COVID’19 pandemic lockdown. They have the interest of others at heart and I’m glad to be part of the family. Contact them for any graphic designs that you want and be rest assured of a delightful result. CybErbrainz Media is the best!!!</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/EGWUATUCHINENYE.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>EGWUATU CHINENYE</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>Ever since I joined CybErbrainz Media webinar, I could be able to do things I couldn’t do in the past. I must confess that this COVID’19 Pandemic lockdown was a blessing in disguise to me because of the best classes that CybErbrainz Media organized. I must confess that CybErbrainz Media is a wonderful media and technological brand/company.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/IBEPROMISEOGECHI.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>IBE PROMISE OGECHI</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-feedback-item">
                            <p>I’m very grateful to CybErbrainz Media for taking out time, energy, resources, both human and capital to embark on a free mass online development of individuals from various parts of the world on diverse digital skills. Sincerely. I count myself so lucky to having been associated with CybErbrainz Media. My profound gratitude goes to all the crew members behind the scene.</p>

                            <div class="client-info">
                                <div class="d-flex align-items-center">
                                    <img src="~/asset/img/Testimonial/FAITHKWEKOWE.jpg" height="300" width="300" alt="image">
                                    <div class="title">
                                        <h3>FAITH KWEKOWE</h3>
                                        <span>Client</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Feedback Area -->
<!-- Start Partner Area -->
<section class="partner-area bg-f9f9f9 ptb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                <div class="single-partner-item">
                    <img src="~/asset/img/partner-img1.png" alt="image">
                </div>
            </div>

            <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                <div class="single-partner-item">
                    <img src="~/asset/img/partner-img2.png" alt="image">
                </div>
            </div>

            <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                <div class="single-partner-item">
                    <img src="~/asset/img/partner-img3.png" alt="image">
                </div>
            </div>

            <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                <div class="single-partner-item">
                    <img src="~/asset/img/partner-img4.png" alt="image">
                </div>
            </div>

            <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                <div class="single-partner-item">
                    <img src="~/asset/img/partner-img5.png" alt="image">
                </div>
            </div>

            <div class="col-lg-2 col-6 col-sm-4 col-md-4">
                <div class="single-partner-item">
                    <img src="~/asset/img/partner-img5.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Partner Area -->
