
@{
    ViewData["Title"] = "Graphic Design";
}

<!-- Start Page Title Area -->
<section class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h1>Services Details</h1>
        </div>
    </div>

    <div class="shape2"><img src="~/asset/img/shape2.png" alt="image"></div>
    <div class="shape3"><img src="~/asset/img/shape3.png" alt="image"></div>
    <div class="shape5"><img src="~/asset/img/shape5.png" alt="image"></div>
    <div class="shape6"><img src="~/asset/img/shape6.png" alt="image"></div>
    <div class="shape7"><img src="~/asset/img/shape7.png" alt="image"></div>
    <div class="shape8"><img src="~/asset/img/shape8.png" alt="image"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</section>
<!-- End Page Title Area -->
<!-- Start Overview Area -->
<section class="overview-area ptb-100">
    <div class="container">
        <div class="overview-box">
            <div class="overview-content">
                <div class="content">
                    <span class="sub-title">GRAPHICS DESIGN</span>
                    <h2>We create, develop and manage</h2>
                    <p>We turn your thoughts and imaginations into images and designs that keep your audience enthralled. 
                    From flier designs, website graphic designs, advert designs etc, we make sure to use a 
                    mix of colors and texts in the simplest ways to convey the message. </p>
                </div>
            </div>

            <div class="overview-image">
                <div class="image">
                    <img src="~/asset/img/services/GRAPHICS1.jpg" alt="image">
                </div>
            </div>
        </div>

        <div class="overview-box">
            <div class="overview-image">
                <div class="image">
                    <img src="~/asset/img/services/GRAPHICS2.jpg" alt="image">
                </div>
            </div>

            <div class="overview-content">
                <div class="content right-content">
                    <p> Our uniqueness is in our simplicity and perfect understanding of the color spectrum. We believe 
                    in art and beauty and our designs tell more. Whether you want a high rising sophisticated deign 
                    profile, multicolor or monochrome design, or simple yet classy, CYBERBRAINZ have you covered.</p>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Overview Area -->

